@import 'tailwindcss';
@import "@nuxt/ui";
@import "../../../../src/styles/main.css";

/* Escanear componentes de Spartan */
@source "../../../../src/**/*.vue";
@source "../../../../src/**/*.ts";
@source "../../components/**/*.vue";

@theme {
  --font-sans: 'Lato', 'sans-serif';
  --font-display: 'Cinzel Decorative', 'sans-serif';
}
