/* INTER FONT ~ RSMS */
@layer base {
    @import url('https://rsms.me/inter/inter.css');
}

:root {
    font-family: Inter, sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}
