:root {
    --color-primary-50: 255 246 234;
    --color-primary-100: 255 227 188;
    --color-primary-200: 255 204 141;
    --color-primary-300: 255 179 98;
    --color-primary-400: 255 148 64;
    --color-primary-500: 255 126 41;
    --color-primary-600: 255 108 12;
    --color-primary-700: 218 90 13;
    --color-primary-800: 192 61 17;
    --color-primary-900: 161 56 21;
}
